<h1>Welcome, <%= current_user.name %>!</h1>

<h2>Start discovering what's in your new hometown!</h2>

<%= button_to 'See Utilities in Your Area', utilities_discover_path %>
<%= button_to 'Discover Entertainment' %>
