
<h1>Relocate's Privacy Page</h1><br>
<br>
<h3>Privacy Notice:</h3>
<br>
<p> When you sign in with your google account, we access your public google user information, but we will only store your google user id, name, and email in our database. Locations you enter will also be saved to our database to provide you with the best user experience catered to your area.</p>