<div class="topnav">
  <a><%= link_to 'The Team' %></a>
  <a><%= link_to 'Contact' %></a>
  <a><%= link_to 'Help' %></a>
</div>

<div class="body">


<div class="container">
  <div class="row justify-content-md-center"
    <div class="login-card">
    <%= link_to 'Login with Google', google_login_path %>
    </div>
  </div>
</div>
</div>
