<div class="body">
<div class="container">
  <div class="row justify-content-md-center">
    <div class="pad-25-top pad-50-bottom">
      <%= image_tag("relocate.png") %>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-11 center">
      <h3>Moving to a new place is exciting, but also stressful.</h3>
<p> Relocate was developed to help alleviate the stress so you
  can focus on settling in.</p>
  <br>
<p>What makes a home isn’t just the roof you sleep under, but the neighborhood around you. The
  average person moves approximately 11.7 times in their lifetime, and that means new gyms, new utilities, and new
  health care providers, among other things.</p>
  <br>
  <p>Relocate's user-friendly interface is a quick way to find and compare all
  the local businesses and necessities around you based on the location you provide.</p>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-3 login-card center">
      <a class="text-grey" href="<%= google_login_path %>">Login with Google</a>
    </div>
  </div>
</div>
</div>
