<h3 class="center">Overview</h3>
<p class="center pad-25-bottom">Getting setup in a new home is like unpacking your suitcase after a vacation, tedious and time consuming. After you've spent time packing and traveling, the last thing you want to do is spend time researching utility companies, internet service providers, and social events. Relocate aims to ease the chaos of moving and provide a resource for you to discover services in your new hometown.</p>
<hr>
<h3 class="center pad-25-top">Our Team</h3>
<p class="center pad-25-bottom">We're a team of back-end developers enrolled in Turing School of Software and Design. You can see our
  <a href="https://github.com/Relocate08/">github repositories here.</a></p>
<div class="container">
  <div class="row">
    <% @members.each do |member| %>
      <div class="team-info card pad-25-top gutter10">
        <div class="team-image pad-25-top">
          <div class="card-title name center pad-25-bottom">
            <h3 class="light-text">
              <%= member[:name] %>
            </h3>
          </div>
          <div class="center">
            <a href=<%= member[:linkedin] %> >
              <img alt="linkedin" src="https://img.icons8.com/nolan/64/linkedin.png" width=50" height="50">
            </a>
            <a href=<%= member[:github] %>>
              <img alt="github" src="https://img.icons8.com/nolan/64/github.png" width=50" height="50">
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
