/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


// .jumbotron{
//  background-image: url(‘https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80’);
//  background-size: cover;
//  background-repeat: no-repeat;
// }

.pad-25-top {
  padding-top: 25px;
}

.pad-50-top {
  padding-top: 50px;
}

.pad-25-bottom {
  padding-bottom: 25px;
}

.pad-50-bottom {
  padding-bottom: 50px;
}

.pad-30-top {
  padding-top: 30px;
}

body {
  // margin: 15px 30px;
  font: 15px Verdana, sans-serif;
  // background-image: url(/assets/welcome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

// li {
//   font-family: 'Philosopher';
//   font-size: 20px;
//   margin-left: 15px;
// }

.center {
  text-align: center;
}

.col {
  // padding-top: 40px;
  margin: 15px;
}

.image-wrapper {
  z-index: -1;
 position: absolute;
 top:0;
 bottom: 0;
 left: 0;
 right: 0;
 img {
   width: 100%;
   height: 100%;
   opacity: 0.8;
 }
};

.accredidation {
  position: absolute;bottom: 20px ; left: 20px
};

.group-card {
  color: black;
  padding: 20px;
  border: solid 1px #999;
  box-shadow:  0 0 10px  rgba(0,12,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
};

.login-card {
  width: 120px;
  background-color: #ffc107;
  padding: 20px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
};

.team-info {
  width: 200px;
  background-color: #ffc107;
  padding: 10px;
  border: solid 1px #999;
  box-shadow:  0 0 10px  rgba(0,12,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
};

.text-grey {
  color: #495057
};

.navbar {
 background-color:   #125966 !important;
};

.navbar-nav > li{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
};

h3 {
  color: #561227;
};

h1 {
  color: #561227;
};

hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

.footer {
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color:   #125966 !important;
}

// .footer {
//   padding-top: 80px;
//   padding-bottom: 50px;
//   width: 80%;
//   margin-left: auto;
//   margin-right: auto;
// }

#main {
    width: 80%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
