/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


// .jumbotron{
//  background-image: url(‘https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80’);
//  background-size: cover;
//  background-repeat: no-repeat;
// }
$burgundy:  #661D3D;
$dark-blue: #125966;
$gold: #ffc107;
$bright-blue: #0E9AB3;
$periwinkle: #7692CC;

.pad-25-top {
  padding-top: 25px;
}

.pad-25-right {
  padding-right: 25px;
}

.pad-15-right {
  padding-right: 15px;
}

.pad-50-top {
  padding-top: 50px;
}

.pad-25-bottom {
  padding-bottom: 25px;
}

.pad-50-bottom {
  padding-bottom: 50px;
}

.pad-30-top {
  padding-top: 30px;
}

.pad-100-top {
  padding-top: 100px;
}

.pad-25-left {
  padding-left: 25px;
}

.pad-10-bottom {
  padding-bottom: 10px;
}

body {
  // margin: 15px 30px;
  font-family: 'Rubik', sans-serif;
  // background-image: url(/assets/welcome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

// li {
//   font-family: 'Philosopher';
//   font-size: 20px;
//   margin-left: 15px;
// }

.center {
  text-align: center;
}

.col {
  // padding-top: 40px;
  margin: 15px;
}

.image-wrapper {
  z-index: -1;
 position: absolute;
 top:0;
 bottom: 0;
 left: 0;
 right: 0;
 img {
   width: 100%;
   height: 100%;
   opacity: 0.8;
 }
};

.accredidation {
  position: absolute;bottom: 20px ; left: 20px
};

.group-card {
  color: black;
  padding: 20px;
  border: solid 1px #999;
  box-shadow:  0 0 10px  rgba(0,12,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
};

.login-card {
  width: 120px;
  background-color: $gold;
  padding: 20px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
};

.team-info {
  width: 250px;
  background-color: $burgundy;
  padding: 10px;
  border: solid 1px #999;
  box-shadow:  0 0 10px  rgba(0,12,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
};

.text-grey {
  color: #495057
};

.navbar {
 background-color: $dark-blue !important;
};

.navbar-nav > li{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
};

.navbar-nav li a {
 line-height: 50px;
}

h3 {
  color: $burgundy;
};

h1 {
  color: $burgundy;
};

hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
};

.footer {
  padding-top: 15px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 98;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $dark-blue;
};

#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $dark-blue; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 10px; /* Increase font size */
  font-family: 'Rubik',sans-serif;
};

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
};

// .footer {
//   padding-top: 80px;
//   padding-bottom: 50px;
//   width: 80%;
//   margin-left: auto;
//   margin-right: auto;
// }

#main {
  width: 80%;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
};

.marg-r-20 {
  margin-left: 20px;
};

.orange {
  background-color: $gold;
  color: #495057;
};

.gutter10 {
  margin: 10px;
};

.gutter5 {
  margin: 10px;
};

.light-text {
  color: #f4f4f4;
};

.button-service {
  background-color: $bright-blue;
  color: #dddedf;
  width: 315px;
  height: 160px;
};

.business-info {
  width: 300px;
  background-color: $bright-blue;
  padding: 10px;
  border: solid 1px #999;
  box-shadow:  0 0 10px  rgba(0,12,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
  color: white;
  font-size: 30px;
};

.biz-info {
  font-size: 30px;
};

.distance {
  font-size: 20px;
  padding-top: 50px;
  color: lightgrey;
};

.a-primary {
  color: Black;
}

.favorites-info {
  background-color: $periwinkle;
  border: solid 1px #999;
  box-shadow:  0 0 10px  rgba(0,12,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
};

.delete-img {
  height: 30px;
  width: 30px;
};

.like-img {
  height: 30px;
  width: 30px;
};

.delete-img-show {
  height: 40px;
  width: 40px;
};

.like-img-show {
  height: 40px;
  width: 40px;
};

.txt-show {
  font-size: 20px;
};

.zip {
  color: $burgundy;
};

.events-info {
  width: 20rem;
  background-color: $bright-blue;
  padding: 10px;
  border: solid 1px #999;
  // box-shadow:  0 0 10px  rgba(0,12,0,0.6);
  // -moz-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  // -webkit-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  // -o-box-shadow: 0 0 10px  rgba(0,12,0,0.6);
  // border-top-left-radius:12px;
  // border-top-right-radius:12px;
  // border-bottom-left-radius:12px;
  // border-bottom-right-radius:12px;
  color: #40464b;
  font-size: 30px;
};

.event-name {
  color: $burgundy;
}

.card-title {
  color: $burgundy;
  text-align: center;
}

.card-text {
  font-size: 15px;
  text-align: center;
}

.card-link {
  font-size: 20px;
  text-align: center;
}

.favorite-font {
  font-size: 25px;
  color: #40464b;

.custom-alert {
  font-size: 20px;
  color: #f20505;
  }
